# 服务器配置
PORT=8902
NODE_ENV=development

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=ucar_user
DB_PASS=uc8dl2de!vD3
DB_NAME=ucar_db

# JWT配置
JWT_SECRET=ucar_jwt_secret_key_2024
JWT_EXPIRES_IN=7d

# 微信小程序配置
WX_APPID=wx9bbb01105495b707
WX_SECRET=a7127bc4f7c7daa0f1b37cf634c4fd45

# 日志配置
LOG_LEVEL=info
LOG_DIR=./logs