# 生产环境（docker-compose.prod.yml）示例配置

# MySQL
MYSQL_ROOT_PASSWORD=cnvyz,egs^,vjJFsdv2604
MYSQL_DATABASE=ucar_db
MYSQL_USER=ucar_user
MYSQL_PASSWORD=dlaW.!jsfJdUQv

# API 安全
JWT_SECRET=djslIs_jwt_sxU_20260427
JWT_EXPIRES_IN=7d

# 微信小程序（可先留空，后续再补）
WX_APPID=
WX_SECRET=

# 日志
LOG_LEVEL=info

